/* Navbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
nav a{
  font-size: 18px;
  margin: 0 5px;

}
a{
  text-decoration: none!important;
  
}
img{
  width: 100%;

  object-fit: cover;
}
.container .ske{
  width: 20%;
  height: 350px;
  background-color: rgb(212, 205, 205);
  opacity: 0.6;
  margin: 0 5px;
}
.nav-Link{
  color: rgb(34, 31, 31);
  
}
.cart{
  position: relative;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart-item{
  max-width: 500px;
  margin: 20px;
  display: flex;
}
.cart-item__img{
  max-width: 350px;
  height: auto;
}
